body {
  margin: 0px;
}

@import "./node_modules/@fortawesome/fontawesome-free/css/all.min.css";

$grey100: #f5f5f5;
$grey500: #6a6a6a;
$grey800: #424242;
$grey900: #212121;
$white: #fff;

.mindmap-svg {
  height: 100vh;
  width: 100%;

  &:focus {
    outline: none;
  }

  .mindmap-node--editable {
    cursor: all-scroll;

    & > a {
      pointer-events: none;
    }
  }
  .mindmap-subnode-group {
    align-items: center;
    border-left: 4px solid $grey500;
    display: flex;
    margin-left: 15px;
    padding: 5px;

    a {
      color: $grey900;
      font-family: "Raleway";
      font-size: 16px;
      padding: 2px 5px;
    }
  }

  .mindmap-connection {
    fill: transparent;
    stroke: $grey500;
    stroke-dasharray: 10px 4px;
    stroke-width: 2px;
  }
  .mindmap-emoji {
    height: 24px;
    vertical-align: bottom;
    width: 24px;
  }

  .reddit-emoji {
    border-radius: 50%;
  }
}

.mindmap-node {
  .node-body {
    background-color: $white;
    border: 3px solid #bb199a;
    border-radius: 15px;
    margin-top: 30px;
    min-height: 60px;
    min-width: 125px;

    .options {
      display: none;
      position: absolute;
      margin-top: -30px;

      .option {
        cursor: pointer;
        font-size: 18px;
        margin-right: 25px;
        color: #999;

        &:hover {
          &.add-item {
            color: #19bb19;
          }
          &.edit-item {
            color: #666565;
          }
          &.remove-item {
            color: #ee6969;
          }
        }
      }
    }
  }

  &:hover {
    .node-body {
      background-color: #fff2c8;
      .options {
        display: flex;
      }
    }
  }

  a {
    color: $grey900;
    display: inline-block;
    font-size: 22px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s ease-out;

    &:hover {
      cursor: pointer;
    }
  }
}
